<!-- <div>{{ text }}</div>
<div>
  <h2>{{ title }}</h2>
</div>

<div>{{ num1 }}{{ getString() }}</div>
<button (click)="addOne()">yazdir</button>

<input type="text" id="ftext" placeholder="Enter N value" [(ngModel)]="x" />
<input type="text" id="stext" placeholder="Enter x value" [(ngModel)]="n" />
<br /><br />
<input type="text" id="stext" placeholder="Enter x value" [(ngModel)]="y" />
<div>{{ countNums() }}</div>
<input type="text" id="stext" placeholder="Enter k value" [(ngModel)]="k" />

<div>{{ tambolen() }}</div>
<br /><br /><br /><br />
<div> 3 sayi siralama ve ortadakini bulma</div>
<input type="text" id="stext" placeholder="Enter c value" [(ngModel)]="x" />
<input type="text" id="stext" placeholder="Enter v value" [(ngModel)]="y" />
<input type="text" id="stext" placeholder="Enter h value" [(ngModel)]="z" /> 
<div>{{ sayisiralama() }}</div>-->


<div>
<input type="number" placeholder="Enter x value" [(ngModel)]="x" />
<input type="number" placeholder="Enter y value" [(ngModel)]="y" />
</div>
<div>{{ carpmaislemi() }}</div>